
/* Hanniba 英汉名拼音 */
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
}
.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    transition: background 0.3s;
}
.carousel img {
    width: 100%;
    border-radius: 10px;
}
